pkgbase = vault2env
	pkgdesc = Small utility to transfer fields of a key in Vault into the environment
	pkgver = 2.2.1
	pkgrel = 1
	url = https://github.com/Luzifer/vault2env
	arch = i686
	arch = x86_64
	license = Apache
	makedepends = go
	source = vault2env-2.2.1.tar.gz::https://github.com/Luzifer/vault2env/archive/v2.2.1.tar.gz
	sha512sums = f9e1e75ed436f2bf48b27726cdb1989963d7d8d220c626922ba642df73c7111469fe9286ee3a2ede6dcf56c70085b70abd0f37358b5b98fd985dfa47b39dabaf

pkgname = vault2env
