pkgbase = vault2env
	pkgdesc = Small utility to transfer fields of a key in Vault into the environment
	pkgver = 2.3.0
	pkgrel = 1
	url = https://github.com/Luzifer/vault2env
	arch = i686
	arch = x86_64
	license = Apache
	makedepends = go
	source = vault2env-2.3.0.tar.gz::https://github.com/Luzifer/vault2env/archive/v2.3.0.tar.gz
	sha512sums = f65cffacf837ed41e8d6dceb0a11b1052451c31859164074e8e3790b2cbfec6569a6bf0254e210bf7cfaf61a4b389572075e813a46494516356368d176c85f90

pkgname = vault2env
